[Unit]
Description=ece428

[Service]
WorkingDirectory=/home/dphuang2/ece428
ExecStart=/usr/bin/env java Server
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
